# Model

## Premiere iteration

In [34]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import warnings
from sklearn.metrics import mean_squared_error, mean_squared_error
from sklearn.model_selection import KFold, cross_val_score, cross_validate

In [26]:
df = pd.read_csv("train5.csv")

In [19]:
X = df.drop(['median_house_value'], axis=1)
y = df['median_house_value']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)
X_train

,Unnamed: 0.1,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
3133,3133,19834,-119.39,36.54,34.0,1590.0,422.0,1272.0,407.0,1.8068
9746,9746,1261,-121.72,38.00,7.0,7957.0,1314.0,4460.0,1293.0,4.9618
6345,6345,1224,-120.57,38.20,13.0,4110.0,847.0,1796.0,706.0,2.6417
11350,11350,429,-122.28,37.88,52.0,1193.0,200.0,506.0,207.0,4.1912
4125,4125,7042,-118.09,33.94,33.0,1976.0,404.0,1379.0,395.0,3.8542
...,...,...,...,...,...,...,...,...,...,...
740,740,15727,-122.45,37.78,48.0,1013.0,194.0,464.0,205.0,3.2011
1032,1032,3591,-118.47,34.25,21.0,2692.0,477.0,1330.0,456.0,4.5417
5520,5520,20077,-120.35,38.04,16.0,1499.0,326.0,733.0,286.0,2.5729
3046,3046,7869,-118.13,33.88,32.0,3088.0,1024.0,1981.0,956.0,2.2027
2915,2915,7139,-118.12,34.02,36.0,1595.0,383.0,1105.0,359.0,2.4286

In [20]:
# Regression Lineaire avec suppresion de ocean proximity et imputation de la moyenne dans les nan
model = LinearRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.6345123014406087

## 2eme iteration

In [25]:
X = df.drop(['median_house_value'], axis=1)
y = df['median_house_value']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)
model = LinearRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.6458155371538798

## 3 eme iteration

In [5]:
X = df.drop(['median_house_value'], axis=1)
y = df['median_house_value']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)
model = LinearRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.6334747864819169

## 4 eme iteration (Cross Val)

In [9]:
from sklearn.model_selection import KFold, cross_val_score

X = df.drop(['median_house_value'], axis=1)
y = df['median_house_value']

LR = LinearRegression()

k_folds = KFold(n_splits = 5)

scores = cross_val_score(LR, X, y, cv = k_folds)

print("Cross Validation Scores: ", scores)
print("Average CV Score: ", scores.mean())
print("Number of CV Scores used in Average: ", len(scores))

Cross Validation Scores:  [0.66028043 0.63989101 0.64644396 0.65145761 0.63403885]
Average CV Score:  0.6464223721035633
Number of CV Scores used in Average:  5

## 5 eme iteration (Cross Val)

In [44]:
X = df.drop(['median_house_value',"binned_age"], axis=1)
y = df['median_house_value']

LR = LinearRegression()

k_folds = KFold(n_splits = 5)

scores = cross_val_score(LR, X, y, cv = k_folds)

print("Cross Validation Scores: ", scores)
print("Average CV Score: ", scores.mean())
print("Number of CV Scores used in Average: ", len(scores))
cv_results = cross_validate(LR, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))
print(cv_results['test_r2'].mean())
print(cv_results['test_neg_root_mean_squared_error'].mean())

Cross Validation Scores:  [0.66220015 0.64360628 0.64837529 0.6554827  0.6366265 ]
Average CV Score:  0.649258184968855
Number of CV Scores used in Average:  5
0.649258184968855
-68221.42321329117